body{
    background: black;
    color: rgb(70, 50, 50);
    text-align: center;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}
#cabecera{
    background:#33a;
    box-shadow:0 2px 20px 0 rgba(0,0,0,.5);
    color:#fff;
    font-weight:700;
    margin:0;
    padding:.5em

}
#cabecera #logo_header{
    width: 20px;
    vertical-align:  middle;
}

#container h1
{
    color: rgb(15, 15, 20);
    font-size: 20px;
} 
#cabecera #tagline{
    padding:0 0 0 1em;
    font-weight:400;
    font-size:.8em
}


#post{
    background: white;
    padding:  1em;
}